<template>
    <div class="card-body">
        <h3>{{title}}</h3>        

        <div class="form-group">
            <label>{{Message}}</label>
            <input class="form-control" type="text" :sms="Message">
            
        </div>
      <rahat :month="months" :sms="Message"></rahat>
      <div>
        <ul>
          <li v-for="item in names" :key="item">{{item}}</li>
        </ul>
        </div>
       
    </div>
</template>


<script>
import rahat from "./rahat";
export default {
  components: {
    rahat: rahat
  },
  props: ["name"],
  data() {
    return {
      title: "!Message Component!",
      Message: "Coming From Message Component",
      months: ["January", "February", "December"]
    };
  }
};
</script>
