<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">                 
                 
                    <div class="card-body">
                    <h5>!Rahat component!</h5>  
                    <p>{{sms}}</p>
                    <ul>
                        <li v-for="item in month">{{item}}</li>
                    </ul>
                    </div>
                    <div></div>
                        <mover :name="names"></mover>
                    </div>
                </div>
            </div>
        </div>
    
</template>

<script>
import mover from "./mover";

export default {
  components: {
    mover: mover
  },
  props: ["month", "sms"],
  data() {
    return {
      title: "!Rahat Component!",
      Message: "Coming From Rahat Component",
      Names: ["Rahat", "ruhama"]
    };
  }
};
</script>