<template>
    <h3 class="text-warning">Example Component Sir!</h3>
</template>
<script>
import mover from "./mover";
import example from "./example";

export default {
  mounted() {
    console.log("Component mounted.");
  },
  components: {
    mover,
    example
  }
};
</script>