/* <template>
    <h3 class="text-info">Mover Component Sir! </h3>

</template>
 */

  import VueMonthlyPicker from 'vue-monthly-picker'
        Vue.component('my-component', {
        components: {
        VueMonthlyPicker
    }
});
