<template>
    <div class="card-body">
        <h5>Rahat component</h5>
        <p>from: {{ Message}}</p>

        <input type="text" v-model="message">
    </div>
</template>


<script>
    import rahat from "./rahat";

    export default {
        mounted() {
            console.log("Component mounted.");
        },
          data() {
    return {
      sms: '',
      message: "From rahat component"
    };
  },
        components: {
            rahat,
            example
        }
    };

</script>
