<template>
     <h5>Rahat component</h5>                        
                        <p>from: {{ Message}}</p>
                        
                         <input type="text" v-model="message">
</template>


<script>
import rahat from "./rahat";

export default {
  mounted() {
    console.log("Component mounted.");
  },
  components: {
    rahat,
    example
  }
};
</script>