<template>
    <h3 class="text-info">Mover Component Sir! </h3>
    <rahat></rahat>

</template>


<script>
import rahat from "./rahat";


Vue.component('mover', {
  mounted() {
    console.log("Component mounted.");
  },
  components: {
    rahat,
    
  }
};
</script>