/* Vue.component('rahat', {   
        template:`
        <div class='col-lg-4'>
        <ul>
            <li v-for="(item, key, index) in months"> @{{key}} -- @{{item}}</li>
        </ul>
        </div>
        `,
        props: [
        'month'
        ]
        }); */


