<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>
                   
                    <div class="card-body">
                        I'm an RAHAT component.
                         <h1>{{sms}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import mover from "./mover";
import example from "./example";

export default {
  mounted() {
    console.log("Component mounted.");
  },
  data() {
    return {
      sms: "From rahat component",
      //message:
    };
  },
  components: {
    mover,
    example
  }
};
</script>