<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an Rahat component.
                    </div>
                     <ul>
            <li> @{{month}}</li>
        </ul>
        
                </div>
            </div>
        </div>
    </div>
</template>

<script>
//import rahat from '../resources/views/admin/create.blade.php'
import rahat 'resources\views\admin\create.blade.php'

    export default {
        mounted() {
            console.log('Component mounted.');
        
        },
        props: [
        'month'
        ]
        
    }
</script>
