<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an Rahat component.
                    </div>
                    <div class='col-lg-4'>
        <ul>
            <li v-for="(item, key, index) in month"> @{{key}} -- @{{item}}</li>
        </ul>
        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
