<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an Rahat component.
                    </div>
                    <div class="contnt">
                        <div id="app">
                             <ul>
                            <li :month='months' v-for="(item, index) in months">@{{item}} </rahat> </li>
                        </ul>
                        </div>
                       <rahat></rahat>
                    </div>
               <div class='col-lg-4'>
       
        </div>
                </div>
            </div>
        </div>
    </div>
</template>
    <ul>
        <li :month='months' v-for="(item, index) in months">@{{item}} </rahat> </li>
    </ul>

<script>
//import rahat from '../resources/views/admin/create.blade.php'
//import rahat from 'resources/views/admin/create.blade.php'

    export default {
        mounted() {
            console.log('Component mounted.');
        
        },
        data(){
             months: ["January", "February", "March", "April", "May", "June", "July",
                "August", "September", "October", "November", "December"]
        },
        props: ['months']
        
    }
</script>
