<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>
                   
                    <div class="card-body">
                        <h5>Rahat component</h5>                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import mover from "./mover";


Vue.component('rahat', {
  props: ["sms"],
  mounted() {
    console.log("Component mounted.");
  },
  components: {
    mover,
    
  }
});
</script>