/* Vue.component('rahat', {   
        template:`
        <div class='col-lg-4'>
        <ul>
            <li v-for="(item, key, index) in months"> @{{key}} -- @{{item}}</li>
        </ul>
        </div>
        `,
        props: [
        'month'
        ]
        }); */

Vue.component('button-counter', {
    data: function () {
        return {
            count: 0
        }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})
vu