/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
#content .contentwrapper {

    padding-top: 0;
}

.dotted {
    border:none;
    border-top:2px dotted #c7c1c1;
    color:#fff;
    height:1px;
    width:100%;
    margin-top: 17px;
    margin-bottom: 17px;
}
.left{
    padding-left: 15px;
}
.text-muted{
    font-weight: lighter;
    color: #e0cece;
}
#plot{
    width: 100%;
    height: 400px;
}
.stateListContainer {
    position: absolute;
    z-index: 9;
    background-color: #ffffffe8;
    /* border: 1px dotted #c7c1c1; */
    overflow-y: scroll;
    height: 320px;
    top: 36px;
    width: 100%;
}
.stateListContainer li {
    list-style: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .mr5.mb10.btn-warning {
        margin-top: 3px;
    }
    .btnGroup .btn-info{
        margin-top: 3px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
 }